*{
  background-image: url(./bgPic.png);
  background-position:center;
  background-size: 100%;
  background-attachment: fixed;
}
.col{
  
  color: #191c1a;
  font-style:normal;
  font-family:cursive;
  
}
a{
  color: rgb(165, 122, 41);
}
.btn{
  color: #12fa5c;
  

}
.table{
  font-size: large;
  font-size: 17px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-shadow: black;
  text-transform: uppercase;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 29, 29);
}
img{
  margin-top: 0.4rem ;
  padding: -1px;
  height: 59px;
  width: 49px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
