body{
  font-size: medium;
  text-align: center;
  color: aliceblue;
  background-image: url(bgPic.png);
  background-position:center;
  background-size: 65%;
  
  background-repeat: no-repeat;
  background-attachment:fixed;

}

h1{
  font-size: 45px;
  padding: 2rem;
  color: black;
  text-align: center;
}

.col{

  
  color: #000100;
  font-style:normal;
  font-family:cursive;
  
}
a{
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  color: rgb(1, 1, 1);
}
.btn{
  color: #b1c2b6;
}

thead{
  
  color: rgb(40, 35, 17);
}


.table{
background-color: rgba(153, 159, 156, 0.25);
margin-left: 27%;

border-radius:  32px;
position:relative;
width: 540px;
height: 660px;
}



img{
  border-radius: 11px;
  margin-top: 0.8rem ;
  padding: -1px;
  height: 69px;
  width: 59px;

}

.App-link {
  color: #61dafb;
}
